node_modules/
composer.lock
vendor
App/Index.php
.phpunit.result.cache
coverage
clover.xml
coverage.xml
assets
package-lock.json
package.json
.phpdoc
docs
/.idea
build/
.php-cs-fixer.cache
.phpunit.cache
App
.DS_Store
--cache-directory
